<div class="container mt-2">
  <h1>Checkout</h1>

  <ng-container *ngIf="order?.items">
    <div class="list-container">
      <div class="list-group d-flex align-items-center">
        <div
          class="d-flex w-100 list-group-item card mb-3"
          *ngFor="let item of order?.items"
        >
          <div class="row">
            <div class="col-2">
              <img
                [src]="item.imageUrl"
                class="img-fluid rounded"
                [alt]="item.title"
                style="max-height: 100px"
              />
            </div>
            <div class="col-10">
              <div class="row justify-content-between">
                <div class="col-8">
                  <h2 class="card-title mb-0">
                    {{ item.title }} ({{ item.quantity }})
                  </h2>
                  <small>{{ item.description }}</small>
                </div>
                <div class="col-2 text-end">
                  <p>{{ item.unitPrice | currency : "BRL" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-bg-light px-4 py-2">
        <p class="mb-0">
          <span class="fw-bold"> Subtotal: </span>
          {{ order?.subtotal | currency : "BRL" }}
        </p>
        <p class="mb-0">
          <span class="fw-bold"> Total (with discounts): </span>
          {{ order?.total | currency : "BRL" }}
        </p>

        <label for="paymentMethodField">Payment method</label>
        <select
          class="form-select"
          name="paymentMethodField"
          [formControl]="paymentMethodField"
          required
        >
          <option *ngFor="let option of paymentMethodOptions" [value]="option">
            {{ PaymentMethodLabels[option] }}
          </option>
        </select>
        <div class="d-flex flex-row justify-content-center mt-4">
          <button
            class="btn btn-primary w-50"
            (click)="finishOrder()"
            [disabled]="paymentMethodField.invalid"
          >
            Finish order
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
