<mat-sidenav #cart mode="over" position="end" [opened]="isCartOpened">
  <div style="display: flex; flex-direction: row; align-items: center">
    <button mat-button (click)="closeCart()">X</button>
    <b style="margin-left: 8px">Shopping Cart</b>
  </div>

  <mat-divider></mat-divider>

  <mat-sidenav-content>
    <mat-list *ngIf="items.length > 0; else emptyList">
      <mat-list-item *ngFor="let item of items">
        <img matListItemAvatar [src]="item.imageUrl" />
        <h3 matListItemTitle>{{ item.title }}</h3>
        <p matListItemLine>{{ item.description }} (${{ item.unitPrice }})</p>
        <div matListItemLine>
          <button
            (click)="updateQuantity(item.id, item.quantity - 1)"
            mat-button
            color="warn"
          >
            -
          </button>
          <span>{{ item.quantity }}</span>
          <button
            (click)="updateQuantity(item.id, item.quantity + 1)"
            mat-button
            color="accent"
          >
            +
          </button>
          <mat-divider [vertical]="true"></mat-divider>
          <button
            (click)="updateQuantity(item.id, 0)"
            mat-button
            color="warn"
            style="position: absolute; right: 16px"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <ng-template #emptyList>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          font-weight: bold;
        "
      >
        <p>Your cart is empty!</p>
        <p>Please select some products.</p>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav>
