<mat-sidenav #cart mode="over" position="end" [opened]="isCartOpened">
  <div class="sidenav-header">
    <button mat-button (click)="closeCart()">X</button>
    <b class="sidenav-title">Shopping Cart</b>
  </div>

  <mat-divider></mat-divider>

  <mat-sidenav-content>
    <ng-container *ngIf="items.length > 0; else emptyList">
      <mat-list>
        <mat-list-item *ngFor="let item of items">
          <img matListItemAvatar [src]="item.imageUrl" />
          <h3 matListItemTitle>{{ item.title }}</h3>
          <p matListItemLine>{{ item.description }} (${{ item.unitPrice }})</p>
          <div matListItemLine>
            <button
              (click)="updateQuantity(item.id, item.quantity - 1)"
              mat-button
              color="warn"
            >
              -
            </button>
            <span>{{ item.quantity }}</span>
            <button
              (click)="updateQuantity(item.id, item.quantity + 1)"
              mat-button
              color="accent"
            >
              +
            </button>
            <mat-divider [vertical]="true"></mat-divider>
            <button
              (click)="updateQuantity(item.id, 0)"
              mat-button
              color="warn"
              class="delete-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

      <div class="finish-order-section">
        <p>Subtotal for {{ totalItems }} item(s): ${{ subtotal }}</p>
        <div class="coupon-section">
          <mat-form-field appearance="fill">
            <mat-label>Insert the coupon</mat-label>
            <input
              matInput
              placeholder="e.g. DISCOUNTXX"
              [formControl]="couponField"
            />
            <mat-error *ngIf="couponField.invalid">{{
              getFieldErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            class="apply-button"
            (click)="validateCoupon()"
          >
            Apply
          </button>
        </div>
        <p>Total (with discounts): ${{ total }}</p>
        <button
          mat-flat-button
          color="accent"
          class="finish-order-button"
          (click)="finishOrder()"
        >
          Finish Order
        </button>
      </div>
    </ng-container>
    <ng-template #emptyList>
      <div class="empty-list-section">
        <p>Your cart is empty!</p>
        <p>Please select some products.</p>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav>
