mat-sidenav {
  width: 360px;
}
.sidenav-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .sidenav-title {
    margin-left: 8px;
  }
}

mat-list-item {
  border-bottom: solid 1px rgba(255, 255, 255, 0.12);

  p {
    margin-bottom: 0;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    width: 24px;
    height: 24px;
    min-width: 0 !important;
    padding: 0;
  }

  span {
    margin-inline: 8px;
    padding-inline: 16px;

    border-radius: 4px;
    background-color: #ddd;
    color: #333;
  }

  mat-divider {
    margin-inline: 16px;
  }

  .delete-button {
    position: absolute;
    right: 16px;
  }
}

.finish-order-section {
  padding: 16px;

  .coupon-section {
    display: flex;
    align-items: center;
  }

  .apply-button {
    margin-left: 8px;
  }

  .finish-order-button {
    width: 100%;
  }
}

.empty-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
}
