<div class="card my-1 shadow-sm">
  <a [routerLink]="[item.id]">
    <img [src]="item.imageUrl" class="card-img-top" [alt]="item.title" />
  </a>
  <h2 class="card-header text-truncate">
    {{ item.title }}
  </h2>
  <div class="card-body">
    <p class="card-text text-truncate">
      {{ item.description }}
    </p>
    <div class="d-flex justify-content-between">
      <em>{{ item.unitPrice | currency : "BRL" }}</em>
      <button
        type="button"
        class="btn btn-primary"
        ngbTooltip="Add to cart"
        placement="right"
        (click)="addToCart()"
      >
        <i class="bi bi-cart-plus"></i>
      </button>
    </div>
  </div>
</div>
