<div class="container bg-light my-4 px-4 py-2" style="max-width: 792px">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="mt-2">User Area</h1>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="editUser()"
      *ngIf="!(isEditing$ | async)"
    >
      <span>Edit </span>
      <i class="bi bi-pencil-square ms-2"></i>
    </button>
  </div>
  <div class="d-flex flex-row">
    <div class="col-3">
      <img
        [src]="user.image"
        class="img-fluid rounded"
        [alt]="user.firstName"
      />
    </div>
    <div class="col-9">
      <form
        class="form"
        [formGroup]="form"
        *ngIf="form"
        (ngSubmit)="saveUser()"
      >
        <div class="row">
          <div class="mb-2 col-12 col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              placeholder="First name"
              formControlName="firstName"
              [class.is-invalid]="form.get('firstName')?.errors"
            />
            <span class="invalid-feedback" *ngIf="form.get('firstName')?.errors"
              >Required field</span
            >
          </div>
          <div class="mb-2 col-12 col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="lastName"
              placeholder="Last name"
              formControlName="lastName"
              [class.is-invalid]="form.get('lastName')?.errors"
            />
            <span class="invalid-feedback" *ngIf="form.get('lastName')?.errors"
              >Required field</span
            >
          </div>
        </div>
        <div class="row">
          <div class="mb-2 col-12 col-md-6">
            <label for="userName" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              name="userName"
              id="userName"
              placeholder="Username"
              formControlName="userName"
              [class.is-invalid]="form.get('userName')?.errors"
            />
            <span class="invalid-feedback" *ngIf="form.get('userName')?.errors"
              >Required field</span
            >
          </div>
          <div class="mb-2 col-12 col-md-6">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="helpId"
              placeholder="Email"
              formControlName="email"
              [class.is-invalid]="form.get('email')?.errors"
            />
            <span class="invalid-feedback" *ngIf="form.get('email')?.errors"
              >Required field</span
            >
          </div>
        </div>

        <div class="row" *ngIf="isEditing$ | async">
          <div class="mb-2 col-12 col-md-6">
            <label for="email" class="form-label">Phone number</label>
            <input
              type="text"
              class="form-control"
              name="phoneNumber"
              id="phoneNumber"
              aria-describedby="helpId"
              placeholder="Phone number"
              formControlName="phoneNumber"
              [class.is-invalid]="form.get('phoneNumber')?.errors"
            />
            <span
              class="invalid-feedback"
              *ngIf="form.get('phoneNumber')?.errors"
              >{{
                !!form.get("phoneNumber")?.errors?.["minlength"]
                  ? "At least 8 digits"
                  : !!form.get("phoneNumber")?.errors?.["maxlength"]
                  ? "At most 12 digits"
                  : "Required field"
              }}</span
            >
          </div>
        </div>

        <div formArrayName="addresses" *ngIf="addresses.controls.length > 0">
          <span class="fw-bold">Addresses</span>
          <div
            class="container card mt-2"
            *ngFor="let address of addresses.controls; let index = index"
          >
            <div [formGroupName]="index">
              <div class="mb-2">
                <label for="zipcode" class="form-label">Zipcode</label>
                <input
                  type="text"
                  class="form-control"
                  name="zipcode"
                  id="zipcode"
                  placeholder="Zipcode"
                  formControlName="zipcode"
                  [class.is-invalid]="address.get('zipcode')?.errors"
                />
                <span
                  class="invalid-feedback"
                  *ngIf="address.get('street')?.errors"
                  >Required field</span
                >
              </div>
              <div class="mb-2 row">
                <div class="col-9">
                  <label for="street" class="form-label">Street</label>
                  <input
                    type="text"
                    class="form-control"
                    name="street"
                    id="street"
                    placeholder="Street"
                    formControlName="street"
                    [class.is-invalid]="address.get('street')?.errors"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="address.get('street')?.errors"
                    >Required field</span
                  >
                </div>
                <div class="col-3">
                  <label for="number" class="form-label">Number</label>
                  <input
                    type="number"
                    class="form-control"
                    name="number"
                    id="number"
                    placeholder="Number"
                    formControlName="number"
                    [class.is-invalid]="address.get('number')?.errors"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="address.get('number')?.errors"
                    >Required field</span
                  >
                </div>
              </div>
              <div class="mb-2 row">
                <div class="col-6">
                  <label for="complement" class="form-label">Complement</label>
                  <input
                    type="text"
                    class="form-control"
                    name="complement"
                    id="complement"
                    placeholder="Complement"
                    formControlName="complement"
                  />
                </div>
                <div class="col-6">
                  <label for="neighborhood" class="form-label"
                    >Neighborhood</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="neighborhood"
                    id="neighborhood"
                    placeholder="Neighborhood"
                    formControlName="neighborhood"
                    [class.is-invalid]="address.get('neighborhood')?.errors"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="address.get('neighborhood')?.errors"
                    >Required field</span
                  >
                </div>
              </div>
              <div class="mb-2 row">
                <div class="col-9">
                  <label for="city" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    name="city"
                    id="city"
                    placeholder="City"
                    formControlName="city"
                    [class.is-invalid]="address.get('city')?.errors"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="address.get('city')?.errors"
                    >Required field</span
                  >
                </div>
                <div class="col-3">
                  <label for="state" class="form-label">State</label>
                  <input
                    type="text"
                    class="form-control"
                    name="state"
                    id="state"
                    placeholder="State"
                    formControlName="state"
                    [class.is-invalid]="address.get('state')?.errors"
                  />
                  <span
                    class="invalid-feedback"
                    *ngIf="address.get('state')?.errors"
                    >Required field</span
                  >
                </div>
              </div>
            </div>

            <div
              class="d-flex justify-content-end mb-2"
              *ngIf="isEditing$ | async"
            >
              <button
                class="btn btn-sm btn-danger"
                (click)="deleteAddress(index)"
              >
                Delete address <i class="bi bi-trash ms-2"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-2">
          <button
            class="btn btn-sm btn-success text-end"
            (click)="addAddress()"
            *ngIf="isEditing$ | async"
          >
            Add address <i class="bi bi-plus-square ms-2"></i>
          </button>
        </div>
        <div class="mb-2 form-check form-switch" *ngIf="isEditing$ | async">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="acceptNewsletter"
            name="acceptNewsletter"
            formControlName="acceptNewsletter"
          />
          <label class="form-check-label" for="acceptNewsletter"
            >Accept to receive Newsletter email</label
          >
        </div>

        <div class="d-flex flex-row justify-content-end">
          <button class="btn btn-primary btn-sm" *ngIf="isEditing$ | async">
            Save <i class="bi bi-save ms-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="d-flex flex-row justify-content-center my-4"
    *ngIf="!(isEditing$ | async)"
  >
    <button
      class="btn btn-danger"
      [disabled]="isLoading$ | async"
      (click)="logout()"
    >
      <span
        class="spinner-grow spinner-grow-sm"
        role="status"
        aria-hidden="true"
        *ngIf="isLoading$ | async; else text"
      ></span>
      <ng-template #text> Logout </ng-template>
    </button>
  </div>
</div>
