<div class="container mt-2">
  <h1>Order confirmation</h1>

  <ng-container *ngIf="order?.items">
    <div class="list-container">
      <div class="list-group d-flex align-items-center">
        <div
          class="d-flex w-100 list-group-item card mb-3"
          *ngFor="let item of order?.items"
        >
          <div class="row">
            <div class="col-2">
              <img
                [src]="item.imageUrl"
                class="img-fluid rounded"
                [alt]="item.title"
                style="max-height: 100px"
              />
            </div>
            <div class="col-10">
              <div class="row justify-content-between">
                <div class="col-8">
                  <h2 class="card-title mb-0">
                    {{ item.title }} ({{ item.quantity }})
                  </h2>
                  <small>{{ item.description }}</small>
                </div>
                <div class="col-2 text-end">
                  <p>{{ item.unitPrice | currency : "BRL" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-bg-light px-4 py-2">
        <p class="mb-0">
          <span class="fw-bold"> Subtotal: </span>
          {{ order.subtotal | currency : "BRL" }}
        </p>
        <p class="mb-0">
          <span class="fw-bold"> Applied discounts: </span>
          {{ order.total - order.subtotal | currency : "BRL" }} (-{{
            discountPercentage
          }}%)
        </p>
        <p class="mb-0">
          <span class="fw-bold"> Total (with discounts): </span>
          {{ order.total | currency : "BRL" }}
        </p>

        <p class="mb-0" *ngIf="order?.paymentMethod">
          <span class="fw-bold mb-0">Payment method:</span>
          {{ PaymentMethodLabels[order.paymentMethod || 0] }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
